<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CannAlisys Pro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <div class="container">
            <img src="{{ url_for('static', filename='Cannalisys.png') }}" alt="Logo" class="logo">
            <h1>CannAlisys Pro</h1>
        </div>
    </div>
    <div class="container">
        <div class="upload-section">
            <h2>Cargue su imagen para escanear</h2>
            <form action="/predict" method="post" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" required>
                <button type="submit">Analizar</button>
            </form>
        </div>
        {% if prediction_result %}
            <div class="result">
                <div class="image-container">
                    <img src="data:image/jpeg;base64,{{ image_data }}" alt="Uploaded Image">
                </div>
                <div class="result-details">
                    <h3>Resultado: {{ prediction_result }}</h3>
                    {% if prediction_result in data %}
                        <ul>
                            <li><strong>Identificación:</strong> {{ data[prediction_result]['Identificacion'] }}</li>
                            <li><strong>Daño:</strong> {{ data[prediction_result]['Daño'] }}</li>
                            <li><strong>Causa:</strong> {{ data[prediction_result]['Causa'] }}</li>
                            <li><strong>Prevención:</strong> {{ data[prediction_result]['Prevencion'] }}</li>
                        </ul>
                        <button onclick="speakResult()">Escuchar resultado</button>
                        <audio id="resultAudio" controls style="display:none;"></audio>
                        <script>
                            function speakResult() {
                                fetch('/speak_result/{{ result_text }}')
                                    .then(response => response.blob())
                                    .then(blob => {
                                        const audioUrl = URL.createObjectURL(blob);
                                        const audioElement = document.getElementById('resultAudio');
                                        audioElement.src = audioUrl;
                                        audioElement.style.display = 'block';
                                        audioElement.play();
                                    });
                            }
                        </script>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    <footer>
        <p>&copy; 2024 CannAlisys Pro. Todos los derechos reservados.</p>
    </footer>
</body>
</html>



